@tailwind base;
@tailwind components;
@tailwind utilities;

input:not([type="checkbox"]) {
    @apply box-border h-10 w-full rounded-md border-2 border-solid border-transparent bg-white px-2 shadow outline-none focus:border-blue-600 dark:border-gray-700 dark:bg-gray-700;
}

.select2-container {
    /* The container where the selectbox is housing*/
    @apply relative m-0 box-border inline-block align-middle;
}
.select2-container .select2-selection--single {
    /* Selection box itself */
    @apply box-border block cursor-pointer select-none rounded-md border shadow;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    /* DIV inside Selection box with text, clear button and arrow down*/
    @apply -order-1 block flex-grow truncate pl-1 pr-6;
}
.select2-container .select2-selection--single .select2-selection__clear {
    /* The DIV where the X is housing to clear the chosen option */
    @apply relative -m-1;
}
.select2-container[dir="rtl"]
    .select2-selection--single
    .select2-selection__rendered {
    @apply text-right;
}

.select2-container .select2-selection--multiple {
    @apply box-border block h-4 cursor-pointer select-none overflow-hidden;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    @apply inline-block truncate whitespace-nowrap pl-2;
}
.select2-container .select2-search--inline {
    /* Search box*/
    @apply float-left;
}
.select2-container .select2-search--inline .select2-search__field {
    @apply my-1 box-border w-full border pl-1 text-base dark:border-gray-600;
}
.select2-container
    .select2-search--inline
    .select2-search__field::-webkit-search-cancel-button {
    @apply appearance-none;
}

.select2-dropdown {
    /* Dropdown area after the arrow down is clicked */
    @apply absolute z-50 float-left box-border block w-auto border border-solid border-gray-200 bg-white dark:bg-gray-700;
}

.select2-results {
    @apply block text-black dark:text-gray-300;
}

.select2-results__options {
    @apply m-0 list-none p-0;
}

.select2-results__option {
    /* The rows with results that you see after dropdown.
	Increase p-1 to p-2 to have more space between results */
    @apply select-none p-2;
}
.select2-results__option[aria-selected] {
    @apply cursor-pointer;
}

.select2-container--open .select2-dropdown {
    /* Dropdown container opened and results are shown*/
    @apply left-0 mt-0;
}

.select2-container--open .select2-dropdown--above {
    /* The left and right borders of the option rows */
    @apply rounded-md border-2 border-blue-600 shadow dark:border-gray-700;
}

.select2-container--open .select2-dropdown--below {
    /* The left and right borders of the option rows */
    @apply overflow-hidden rounded-b-lg border-2 border-blue-600 shadow dark:border-gray-700;
}

.select2-search--dropdown {
    /* Search dropdown element*/
    @apply block p-2;
}
.select2-search--dropdown .select2-search__field {
    /* Search box itself where you can enter text*/
    @apply box-border rounded border-2 border-blue-300 bg-white p-1 outline-none dark:border-gray-700 dark:bg-gray-500 dark:text-gray-200;
    width: 100%;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    @apply appearance-none;
}
.select2-search--dropdown.select2-search--hide {
    @apply hidden;
}

.select2-close-mask {
    /* @apply m-0 block w-12 min-w-full p-0 border-0 position-absolute left-0 top-0 min-h-full h-auto opacity-0 z-99 bg-white filter alpha(opacity=0); */
    border: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0);
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* 

	Default template settings:

*/

.select2-container--default .select2-selection--single {
    /* Selection bar - Self */
    @apply flex h-10 items-center border-2 border-solid border-transparent bg-white pl-2 pr-8 dark:border-gray-700 dark:bg-gray-700;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    /* Selection bar - Text color of the item you selected from the results */
    @apply text-gray-700 dark:text-gray-200;
}

.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple {
    @apply border-2 border-b-0 border-blue-600;
}

.select2-container--default
    .select2-selection--single
    .select2-selection__clear {
    /* Selection bar - Clear button - If this property is enabled*/
    @apply float-right cursor-pointer text-red-700;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__placeholder {
    /* Selection bar - Color of the placeholder text before selection - If this property is enabled */
    @apply text-gray-600 dark:text-gray-300;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    /* Selection bar - DIV where the arrow pointing down is living*/
    @apply absolute right-0 top-0 h-10 w-8;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow
    b {
    /* Arrow is a CSS triangle that does not exists in Tailwind without a package */
    @apply absolute h-0 w-0 border-b-0 border-l-4 border-r-4 border-t-4 border-solid;
    border-color: #000 transparent transparent transparent;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    top: 50%;
}

.select2-container--default[dir="rtl"]
    .select2-selection--single
    .select2-selection__clear {
    /* Selection bar - Clear button - If this property is enabled from right to left*/
    @apply float-left ml-4;
}

.select2-container--default[dir="rtl"]
    .select2-selection--single
    .select2-selection__arrow {
    /* Placement of the dropdown arrow when in rtl mode */
    @apply left-0 right-auto;
}

.select2-container--default.select2-container--disabled
    .select2-selection--single {
    /* Selection by property disabled*/
    @apply cursor-default bg-gray-300;
}
.select2-container--default.select2-container--disabled
    .select2-selection--single
    .select2-selection__clear {
    /* Selection bar - Hide the clear cross when selection bar is disabled*/
    @apply hidden;
}

.select2-container--default.select2-container--open
    .select2-selection--single
    .select2-selection__arrow
    b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
    /* @apply border-blue */
}

.select2-container--default .select2-selection--multiple {
    @apply h-full min-h-full rounded-md border border-solid bg-white p-1 shadow dark:border-gray-700 dark:bg-gray-700;
}

.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered {
    @apply m-0 box-border min-w-full list-none px-1;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__rendered
    li {
    @apply list-none;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__clear {
    @apply float-right mr-2 mt-1 cursor-pointer p-1;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice {
    @apply float-left my-1 mr-1 cursor-default rounded-md border bg-white px-2 text-gray-700 dark:bg-gray-700 dark:text-gray-200;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    @apply mr-1 inline-block cursor-pointer text-gray-700 dark:text-gray-200;
}
.select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove:hover {
    @apply text-gray-700 dark:text-gray-200;
}
.select2-container--default.select2-container--focus
    .select2-selection--multiple {
    @apply border-2 outline-none;
}

.select2-container--default.select2-container--disabled
    .select2-selection__choice__remove {
    @apply hidden;
}
.select2-container--classic
    .select2-selection--multiple
    .select2-selection__choice {
    @apply float-left mr-1 mt-1 cursor-default rounded-md border-2 bg-gray-300 px-1 shadow dark:border-gray-700;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    /* The border of the search textbox */
    @apply border-solid;
}

.select2-container--default .select2-search--inline .select2-search__field {
    /* Search textbox */
    @apply select-text border-none bg-transparent shadow-none outline-none;
}

.select2-container--default .select2-results > .select2-results__options {
    /* Hight of the dropdown zone where the options or results are visible */
    @apply h-full max-h-96 overflow-y-auto;
}

.select2-container--default .select2-results__option[role="group"] {
    /* No clue what this does */
    @apply p-0;
}

.select2-container--default .select2-results__option[aria-disabled="true"] {
    @apply text-gray-700;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    /* The already selected option row color */
    @apply bg-gray-300 dark:text-gray-700;
}
.select2-results__option--selected {
    @apply hidden;
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__group {
    padding-left: 0;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}
.select2-container--default
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option
    .select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}

.select2-container--default
    .select2-results__option--highlighted[aria-selected] {
    /* Background color and text color of the options rows when select is open */
    @apply bg-blue-600 text-white dark:bg-gray-500 dark:text-gray-200;
}

.select2-container--default .select2-results__group {
    /* Have no idea what this is for */
    @apply block cursor-default;
    padding: 6px;
}

/*Flatpickr*/
.flatpickr-calendar {
    @apply invisible absolute flex max-w-[18rem] touch-manipulation flex-row gap-[0.375] overflow-hidden rounded-lg border-transparent bg-white shadow-md dark:bg-gray-700;
}

.flatpickr-calendar.hasWeeks {
    @apply max-w-[21rem];
}

.flatpickr-calendar::after,
.flatpickr-calendar::before {
    @apply content-none;
}

.flatpickr-current-month {
    @apply absolute start-4 flex w-auto content-center items-center justify-center gap-1 pt-0 text-center text-[1rem] text-base font-medium;
}

.flatpickr-current-month:where([dir="rtl"], [dir="rtl"] *) {
    @apply end-4 start-auto;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
    @apply flex cursor-pointer items-center justify-center rounded-none border-0 align-middle font-medium text-inherit outline-none;
}

.flatpickr-current-month span.cur-month {
    @apply m-0 font-medium;
}

.flatpickr-current-month span.cur-month:hover {
    @apply bg-transparent;
}

.flatpickr-current-month .numInputWrapper {
    @apply inline-block w-[6ch];
}

.flatpickr-current-month .numInputWrapper:hover {
    @apply bg-transparent;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
    @apply relative -mt-4 cursor-pointer bg-white p-0 dark:bg-gray-700;
}

.flatpickr-current-month input.cur-year {
    @apply m-0 h-5 cursor-default ps-1 shadow-none;
}

.flatpickr-current-month input.cur-year:focus {
    @apply outline-none;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    @apply pointer-events-none bg-transparent;
}

.flatpickr-months .flatpickr-month {
    @apply relative flex h-[3.75rem] select-none items-center overflow-hidden rounded-t-lg px-4 text-center;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    @apply absolute top-4 flex h-7 w-7 items-center justify-center rounded-full bg-gray-100 text-gray-900 no-underline dark:bg-gray-600 dark:text-gray-400;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
    @apply fill-current;
}

.flatpickr-months .flatpickr-prev-month:where([dir="rtl"], [dir="rtl"] *),
.flatpickr-months .flatpickr-next-month:where([dir="rtl"], [dir="rtl"] *) {
    @apply rotate-180;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
    @apply h-3 w-3 fill-current align-middle text-gray-900 dark:text-gray-400;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    @apply fill-current;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month {
    @apply end-[50px] start-auto;
}

.flatpickr-months
    .flatpickr-prev-month.flatpickr-prev-month:where(
        [dir="rtl"],
        [dir="rtl"] *
    ) {
    inset-inline-end: auto;
    inset-inline-start: 3.5rem;
    --tw-skew-x: -1deg;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    @apply end-0 start-0;
}

.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    @apply end-4;
}

.flatpickr-months
    .flatpickr-next-month.flatpickr-next-month:where(
        [dir="rtl"],
        [dir="rtl"] *
    ) {
    inset-inline-end: auto;
    inset-inline-start: 1rem;
    --tw-skew-x: -1deg;
    -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flatpickr-weekdays {
    @apply flex w-full items-center overflow-hidden px-3 text-center;
}

.flatpickr-weekdaycontainer {
    @apply flex w-full;
}

span.flatpickr-weekday,
.flatpickr-weekwrapper .flatpickr-weekday {
    @apply m-0 block cursor-default text-center text-sm font-medium leading-5;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.flatpickr-days {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 18rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flatpickr-days:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.flatpickr-calendar.hasTime .flatpickr-days {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 0;
}

.flatpickr-days .dayContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 0.125rem;
    padding: 0;
    opacity: 1;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.flatpickr-day {
    position: relative;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2.375rem;
    height: 2.375rem;
    max-width: 2.375rem;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.375rem;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.flatpickr-day.today:not(.selected) {
    border-color: transparent;
    background-color: var(--fallback-p, oklch(var(--p) / 0.2));
    --tw-text-opacity: 1;
    color: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)));
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
    cursor: pointer;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.flatpickr-day:hover:not(.selected, .today),
.flatpickr-day:focus:not(.selected, .today),
.flatpickr-day.prevMonthDay:hover:not(.selected, .today),
.flatpickr-day.nextMonthDay:hover:not(.selected, .today),
.flatpickr-day.prevMonthDay:focus:not(.selected, .today),
.flatpickr-day.nextMonthDay:focus:not(.selected, .today) {
    border-color: transparent;
    background-color: var(--fallback-n, oklch(var(--n) / 0.1));
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    /* border-color: transparent; */
    --tw-bg-opacity: 1;
    background-color: var(
        --fallback-p,
        oklch(var(--p) / var(--tw-bg-opacity, 1))
    );
    --tw-text-opacity: 1;
    color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity, 1)));
    /* --tw-shadow: 0 2px 4px 0 var(--fallback-bs, oklch(var(--bs) / 0.26));
    --tw-shadow-colored: 0 2px 4px 0 var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */

    @apply border-transparent shadow-md;
}

.flatpickr-day.inRange:not(.startRange):not(.endRange) {
    border-radius: 0;
    border-color: transparent;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
    pointer-events: none;
    border-color: transparent;
    background-color: transparent;
    color: var(--fallback-bc, oklch(var(--bc) / 0.5));
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    border-color: transparent;
    background-color: transparent;
}

.flatpickr-day.week.selected {
    border-radius: 0;
}

.flatpickr-day.selected.startRange,
.flatpickr-day.startRange.startRange,
.flatpickr-day.endRange.startRange {
    border-end-end-radius: 0;
    border-start-end-radius: 0;
}

.flatpickr-day.selected.endRange,
.flatpickr-day.startRange.endRange,
.flatpickr-day.endRange.endRange {
    border-end-start-radius: 0;
    border-start-start-radius: 0;
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
    color: var(--fallback-bc, oklch(var(--bc) / 0.5));
}

.flatpickr-day.inRange,
.flatpickr-day.inRange:hover {
    background-color: var(--fallback-p, oklch(var(--p) / 0.2));
    --tw-text-opacity: 1;
    color: var(--fallback-p, oklch(var(--p) / var(--tw-text-opacity, 1)));
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

.flatpickr-weekwrapper span.flatpickr-day,
.flatpickr-weekwrapper span.flatpickr-day:hover {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 2.375rem;
    height: 2.375rem;
    max-width: 2.375rem;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.375rem;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.flatpickr-weekwrapper span.flatpickr-day:not(:last-child),
.flatpickr-weekwrapper span.flatpickr-day:hover:not(:last-child) {
    margin-bottom: 0.125rem;
}

.flatpickr-weekwrapper .flatpickr-weeks {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-padding-end: 0;
    padding-inline-end: 0;
    -webkit-padding-start: 0.625rem;
    padding-inline-start: 0.625rem;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.flatpickr-weekwrapper .flatpickr-weekday {
    -webkit-padding-start: 0.75rem;
    padding-inline-start: 0.75rem;
    line-height: 28px;
}

.flatpickr-calendar
    .flatpickr-innerContainer:has(> .flatpickr-weekwrapper)
    > .flatpickr-rContainer
    .flatpickr-weekdays,
.flatpickr-calendar
    .flatpickr-innerContainer:has(> .flatpickr-weekwrapper)
    > .flatpickr-rContainer
    .flatpickr-days {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.flatpickr-calendar.hasTime .flatpickr-time {
    height: 100%;
    border-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.flatpickr-time {
    max-height: unset;
    gap: 0.5rem;
    line-height: 30px;
}

.flatpickr-time .numInputWrapper {
    border-radius: var(--rounded-btn, 0.375rem);
    height: inherit;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover,
.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
    background: unset;
}

.flatpickr-time .numInputWrapper span.arrowUp {
    top: 10%;
}

.flatpickr-time:after {
    content: none;
}

.flatpickr-calendar.hasTime.noCalendar > .flatpickr-time {
    border-color: transparent;
}

.flatpickr-time input.flatpickr-hour {
    height: auto;
    border-radius: var(--rounded-btn, 0.375rem);
    border-width: 1px;
    border-style: solid;
    border-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    font-size: 1rem;
    line-height: 1.375rem;
    line-height: inherit;
    font-weight: 400;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.flatpickr-time input.flatpickr-minute {
    height: auto;
    border-radius: var(--rounded-btn, 0.375rem);
    border-width: 1px;
    border-style: solid;
    border-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    font-size: 1rem;
    line-height: 1.375rem;
    line-height: inherit;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.flatpickr-time .flatpickr-am-pm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: var(--rounded-btn, 0.375rem);
    border-width: 1px;
    border-color: var(--fallback-bc, oklch(var(--bc) / 0.1));
    font-size: 1rem;
    line-height: 1.375rem;
    line-height: inherit;
    --tw-text-opacity: 1;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity, 1)));
}

.numInputWrapper:hover,
.numInputWrapper span:hover {
    background: unset;
    /* @apply back; */
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after,
.flatpickr-time .numInputWrapper span.arrowUp:after {
    border-bottom-color: var(--fallback-bc, oklch(var(--bc) / 0.8));
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after,
.flatpickr-time .numInputWrapper span.arrowDown:after {
    border-top-color: var(--fallback-bc, oklch(var(--bc) / 0.8));
}

.numInputWrapper span {
    @apply border-0;
}

.flatpickr-calendar:not(.inline):not(.open) {
    @apply hidden;
}
/*Flatpickr*/

.swal2-popup {
    @apply relative rounded-lg bg-white pb-3 shadow-sm dark:bg-gray-700;
}

.swal2-title {
    /* @apply ml-[5.5rem] p-0 pr-4 pt-5 text-left text-xl font-[600] text-gray-800; */
    @apply text-2xl font-semibold text-gray-800 dark:text-gray-200;
}

.swal2-html-container {
    /* @apply ml-[5.5rem] p-0 pr-4 text-left text-base font-normal text-gray-500 dark:text-gray-400; */
    @apply text-base font-normal text-gray-500 dark:text-gray-400;
}

.swal2-actions {
    @apply m-0 flex w-full justify-center gap-2 px-4 pt-3 dark:border-gray-600;
}

.swal2-confirm {
    @apply rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none  focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
}

.swal2-icon-success .swal2-confirm {
    @apply inline-flex items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-green-800 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800;
}

.swal2-icon-error .swal2-confirm {
    @apply inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800;
}

.swal2-icon-info .swal2-confirm {
    @apply inline-flex items-center rounded-lg bg-blue-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800;
}

/* .alert-question .swal2-confirm {
    @apply inline-flex items-center rounded-lg bg-purple-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800;
} */

.swal2-icon-warning .swal2-confirm {
    @apply inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800;
}

.swal2-cancel {
    @apply rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:outline-none focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700;
}

.swal2-input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2 focus:ring focus:ring-blue-300;
}

.swal2-icon {
    /* @apply absolute -top-[1.5rem] left-[1.5rem] scale-50; */
}

.alert-success .swal2-icon {
    /* @apply bg-green-100 text-white; */
}

.alert-warning .swal2-icon {
    /* @apply h-12 w-12 scale-75 animate-none border-red-600 text-red-600; */
    @apply border-red-600 text-red-600;
}

.alert-error .swal2-icon {
    /* @apply bg-red-500 text-white; */
    @apply border-red-600 text-red-600;
}

.swal2-x-mark .swal2-x-mark-line-left,
.swal2-x-mark .swal2-x-mark-line-right {
    @apply bg-red-600 !important;
}

.alert-info .swal2-icon {
    /* @apply bg-blue-500 text-white; */
}

.alert-question .swal2-icon {
    /* @apply bg-purple-500 text-white; */
}
/* 
div:where(.swal2-icon).swal2-error.swal2-icon-show {
    @apply animate-none !important;
}

@layer utilities {
    @keyframes swal2-animate-error-icon {
        100% {
        }
    }
} */
